.objects-list-item {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 10px;
  border-bottom: 1px solid #e3e8f1;
  cursor: pointer;
}