.objects-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffc62b;
  font-weight: bold;
  font-size: 13px;
}

.objects-counter__ico {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}