.header-timer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f8fb;
  border-radius: 5px;
  width: 170px;
  height: 20px;
  padding: 5px 10px;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
}

.header-timer__ico {
  width: 15px;
  height: 15px;
}