@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  color: #232629;
  background-color: #e3e8f1;
  min-width: 1070px;
  font-family: 'Roboto', sans-serif;
  font-stretch: normal;
  letter-spacing: normal;
}

label {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 5px;
  width: 220px;
  height: 20px;
  border: 1px solid #cdc7c2;
  border-radius: 5px;
}

input:disabled {
  background-color: #f7f8fb;
}

form {
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 1px solid #232629;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}